<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Regression1">
        <classes>
            <class name="com.rest.assured.get.BookingCode"></class>
            <class name="com.rest.assured.get.VerifyBookingID"></class>
        </classes>
    </test>
</suite>